*{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbhcOWaDoChdaFp4uTYSBQVW2CZre2yC0o6w&usqp=CAU")

}
.calender{

    max-width: 800px;
    font-family: serif;
    font-weight: bold;
    color: black;
    align-items: center;
    margin: 15vh auto;
}
.month{
    text-align: center;
    background: rgb(255, 250, 203);
    font-size: 80px;
    letter-spacing: 1px;
    color: black;
    border:3px solid rgb(0, 0, 0);
}
table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border:5px solid black;
    font-family: Elaphant;
}
tr, th, td{
    padding: 15px;
}
th{
    background: #9690ec;
    color: rgb(255, 255, 255);
    font-family: arial black;
}
td{
    background: #727bfc;
    color: rgb(255, 255, 255);
}
td:hover{
    background: rgb(87, 163, 224);
}

